<!DOCTYPE html>
<html>
<head>
    <title>Tech Journal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/e6fd116ded.js" crossorigin="anonymous"></script>
</head>

  
<body>
    <div class="landing-page">
       
            <header>
                    <div class="title">
                        <h1 class="h1-1">Tech</h1>
                        <h1 class="h1-2">Journal</h1>
                    </div>

                    <div class="menu-nav menu-toggle" id="menu-toggle">
                        <a href="{{ url_for('home')}}"><img src="{{url_for('static', filename='images/menu-icon.png') }}" alt="menu"></a>
                    </div>
                    <ul class="nav" id="menu-list">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <!-- <li><a href="">Sign-in</a></li>
                        <li><a href="">Services</a></li> -->
                        <li>
                             <a href="#">
                                <i class="fa fa-user"></i>
                                Michelle Nhengu
                            </a>
                            <ul>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#" class="logout">Logout</a></li>

                        </ul>
                    </li>
                   </ul> 
                </div>
            </header>

        </div>
         <div class="trending-section">
        <h2>Trending</h2>
        <div class="scroll-wrapper">
            <button class="scroll-btn left" onclick="scrollLeft()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="image-scroll-bar" id="scrollBar">
                <div class="post-container">
                    <a href="#"><img src="{{ url_for('static', filename='images/img6.jpeg')}}" class="scroll-img"  alt="img6"></a>
                    <div>
                        <h4>Title</h4>
                        <p>author-date</p>
                    </div>
                </div>

                <div class="post-container">
                    <a href="#"><img src="{{ url_for('static', filename='images/img7.jpeg') }}" class="scroll-img" alt="img7"></a>
                    <div>
                        <h4>Title </h4>
                        <p>author-date</p>
                    </div>
                </div>

                <div class="post-container">
                    <a href="#"><img src="{{ url_for('static', filename='images/img8.jpeg') }}" class="scroll-img"  alt="img8"></a>
                    <div>
                        <h4>Title</h4>
                        <p>author-date</p>
                    </div>
                </div>
            </div>
            <button class="scroll-btn right" onclick="scrollRight()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
         </div>
        {% if ad_exists %}
        <div id="ad-banner" class="ad-banner">
            <!-- You can insert an image or script tag for the ad here -->
            <img src="{{ url_for('static', filename='images/ad-placeholder.jpg') }}" alt="Ad Banner">
          </div>
          {% endif %}

     <section class="highlights">
        <h2>Highlights</h2>
         <div class="post-grid " > 
            <div class="main-post image-overlay-container">
                <a href="#">
                <img src="{{ url_for('static', filename='images/img7.jpeg')}}" class="highlight-post-img"  alt="highlight-post"></a>
                <div class="overlay-text">
                    <h3>Title</h3>
                    <h5>Michelle Nhengu - date</h5>
                </div>
            </div>
            <!-- Additional smaller posts -->
            <div class="small-post"><a href="#">
                <img src="{{ url_for('static', filename='images/img1.jpeg')}}" alt="img1" ></a>
                 <div class="small-overlay-text">
                <h3>Title</h3>
                <h5>author - date</h5>
            </div></div>

             <div class="small-post"><a href="#">
              <img src="{{ url_for('static', filename='images/img2.jpeg')}}"  alt="img2" ></a>
                 <div class="small-overlay-text">
                <h3>Title</h3>
                <h5>author - date</h5>
            </div></div>

            <div class="small-post"><a href="#">
                <img src="{{ url_for('static', filename='images/img3.jpeg')}}" alt="img3" ></a>
                <div class="small-overlay-text">
                <h3>Title</h3>
                <h5>author - date</h5>
            </div></div>
            <div class="small-post"><a href="#">
                <img src="{{ url_for('static', filename='images/img4.jpeg')}}" alt="img4" ></a>
                <div class="small-overlay-text">
                    <h3>Title</h3>
                    <h5>author - date</h5>
                </div></div>
            
            <div class="small-post"><a href="#">
                <img src="{{ url_for('static', filename='images/img5.jpeg')}}"  alt="img5" ></a>
                <div class="small-overlay-text">
                    <h3>Title</h3>
                     <h5>author - date</h5>
            </div>
        </div>
         </div>
        </section>
   
        
            <h2>Recent Posts</h2>
         <div class="recent-posts-section">
             <div class="recent-posts">
                <div class="recent-post-container">
                    <div><img src="{{ url_for('static', filename='images/img9.jpeg')}}" class="recent-post-img"  alt="img9"></div>
                    <div class="text">
                        <h4>Title</h4>
                        <p>author-date</p>
                        <p>description</p>
                        <button>Read More</button>
                    </div>
                </div>

                <div class="recent-post-container">
                    <a href="#"><img src="{{ url_for('static', filename='images/img10.jpeg')}}" class="recent-post-img"  alt="img10"></a>
                    <div class="text">
                        <h4>Title</h4>
                        <p>author-date</p>
                        <p>description</p>
                        <button>Read More</button>
                    </div>
                </div>

                <div class="recent-post-container">
                    <a href="#"><img src="{{ url_for('static', filename='images/img11.jpeg')}}" class="recent-post-img" alt="img11"></a>
                    <div class="text">
                        <h4>Title</h4>
                        <p>author-date</p>
                        <p>description</p>
                        <button>Read More</button>
                    </div>
                </div>

                <div class="recent-post-container">
                    <a href="#"><img src="{{ url_for('static', filename='images/img12.jpeg')}}" class="recent-post-img"  alt="img12"></a>
                    <div class="text">
                        <h4>Title</h4>
                        <p>author-date</p>
                        <p>description</p>
                        <button>Read More</button>
                    </div>
                </div>
            </div>
            <div> <div class="events">
                <h3>Events</h3>
                <p>By Michelle Nhengu - date</p>
                <p>description</p>
                <button>Register Now 
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        
            <div class="topics">
                <h3>Topics</h3>
                  <a href="">
                      AI
                  </a>
                  <a href="">
                      Cybersecurity
                  </a>
                  <a href="">
                      Machine Learning
                  </a>
                  <a href="">
                   conferences
                  </a>
                  <a href="">
                      Simulations
                  </a>
              </div> 
            </div>
            </div>
        <div class="products">
            <div class="product-container">
                <img src="{{ url_for('static', filename='images/img13.jpeg')}}" class="recent-post-img"  alt="img13">
                    <a href="#"></a><p>description</p></a>
            </div>
            <div class="product-container">
                <img src="{{ url_for('static', filename='images/img14.jpeg')}}" class="recent-post-img"  alt="img14">
                <a href="#"></a><p>description</p></a>
            </div>
            <div class="product-container">
                <img src="{{ url_for('static', filename='images/img15.jpeg')}}" class="recent-post-img"  alt="img15">
                <a href="#"></a><p>description</p></a>
            </div>
            <div class="product-container">
                <img src="{{ url_for('static', filename='images/img16.jpeg')}}" class="recent-post-img"  alt="img16">
                <a href="#"></a><p>description</p></a>
            </div>
            
        </div>
        
        <div class="footer-container">
           
               
                <div class="about-tech-journal">
                    <div class="title">
                        <h1 class="h1-1">Tech</h1>
                        <h1 class="h1-2">Journal</h1>
                    </div>
                    <div class="about">
                        <p>You can combine two of these (like end-of-post + footer) for better conversion without being annoying. Want a simple design suggestion or code snippet for one of these placements?</p></div>
                    <div class="telephone"> 
                        <img src="" alt="icon">
                        8278474592</div>
                    <div class="email">
                        <img src="" alt="icon">
                        haswehf@gmail.com</div>
                    <div class="social-media">
                        <img src="" alt="icon">
                        <img src="" alt="icon">
                        <img src="" alt="icon">
                    </div>

                </div>

                <div class="quick-links">
                    <h3>Quick Links</h3>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    
                    
                </div>
                <div class="quick-links">
                    <h3>Quick Links</h3>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    <a href="#">topics</a>
                    
                    
                </div>

                <div class="user-input-container">
                   
                    <div class="box">
                        <h3>Subscribe To Our Newsletter</h3>
                        <p>Want to keep up to date with our latest news and information? Enter your email below to be added to our mailing list.</p>
                      <input type="text" placeholder="Enter your email" class="input-box">
                      <button class="cta-button">Subscribe</button>
                    </div>
                    
                  </div>
                  
            
        </div>
    </div>
   <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
